.footer {
  min-height: 100px;
  background: #C2A593;
  position: relative;
  text-align: center;
  color: whitesmoke;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #754E36;
}
